.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.w-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    height: 400px;
    padding: 10px 10px;
}

.w-card .w-combo {
    align-self: flex-end;
}

.w-card .words {
    font-size: 40px;
    margin: 50px 0 30px 0;
    text-align: center;
}

.w-card .w-btn {
    margin-top: 30px;
}

.button-contact-list wired-icon-button {
    font-size: 25px !important;
    margin: 50px 5px 0 5px;
}