.a-container {
    display: flex;
    flex-direction: column;
    padding: 5vh 10vw;
}

.a-container header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
}

.a-container header .title {
    font-size: 35px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    overflow: auto;
}

.a-container header .button-list,
.a-container header section {
    margin-left:auto;
}

.a-container header .button-list wired-button {
    margin: 0 5px;
    font-size: 15px;
}


.a-container main wired-card {
    margin: 40px 0;
    padding: 0 5vw 0 5vw;
    width: 70vw;
    z-index: 0;
    height: auto;
}

.a-container main wired-card:hover {
    transform: rotate(1deg);
}

.a-container main article {
    cursor: pointer;
}

.a-container main article .excerpt {
    font-size: 17px;
    color: #818181;
    line-height: 30px;
}

.a-container main article .footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}

.a-container main article .footer p:last-child {
    color: #818181;
    margin-left: auto;
}

.footer-pagination .pre,
.footer-article-go .pre {
    float: left;
}

.footer-pagination .pre:hover,
.footer-article-go .pre:hover {
    transform: rotate(-5deg);
}

.footer-pagination .next,
.footer-article-go .next {
    float: right;
}

.footer-pagination .next:hover,
.footer-article-go .next:hover {
    transform: rotate(5deg);
}

.footer-article-go {
    margin-top: 5vh;
}

.markdown-body {
    font-family: "Hannotate SC", "Hanzipen SC", "FangSong", "PingFang SC", serif!important;
}

.expand {
    display: inline-block;
    font-weight: 500;
    transform: rotate(90deg);
}

.to-expand {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    background: #ffffff;
}

.comment .header {
    font-size: 35px;
}


@media (min-width: 576px) {
    .hidden-md {
        display: none;
    }
}

@media (max-width: 576px) {
    .hidden-sm {
        display: none;
    }

    .a-container main article .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-bottom: 5vw;
    }

    .a-container main article .footer p:last-child {
        color: #818181;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 70vw;
    }
}
