.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.w-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 400px;
}

.w-card .w-combo {
    align-self: flex-end;
}